var tr = $("<tr></tr>");
<%if @comment.logo.exists?%>
	tr.append('<td><%= image_tag(@comment.logo.url(:thumb) )%></td>');
<%else%>
	tr.append('<td>None</td>');
<%end%>
tr.append('<td><%= @comment.user.short_name %></td>');
tr.append('<td><%= @comment.description %></td>');
tr.append('<td><%= link_to "Edit", book_path(@book, eid: @comment.id)%></td>');
tr.append('<td><button class="delete"><%= link_to "Delete", book_comment_path(@book, @comment, page: params[:page]), method: :delete, remote: true%></button></td>');
$('.comment').append(tr);
$("textarea").val('');

// , data: {confirm: "Are you sure?!!"}

	  // from taker
      // var li = $('<li></li>');
      // li.append('<input type="checkbox">');
      // li.append('<span class="content"></span>');
      // li.append('<button class="delete">x</button>');
      // li.find('.content').html(todo);
      // $('#todo-list').append(li);
      
      // // empty input
      // $('input').val('');