<h3>This is <%= @user.short_name %>'s profile</h3>
<h3>introduction: <%= @user.introduction%></h3>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Public Books</th>
		</tr>
	</thead>
	<tbody>
		
			<% @user.owner_books.each do |b| %>
			<tr>
				<td><%= b.name%></td>
			</tr>
			<%end%>
	</tbody>

</table>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Collection</th>
		</tr>
	</thead>
	<tbody>
			<% @user.collected_books.each do |b| %>
			<tr>
				<td><%= Book.find(b).name%></td>
			</tr>
			<%end%>
	</tbody>

</table>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Books</th>
			<th>Comments from <%= @user.last_name%></th>
		</tr>
	</thead>
	<tbody>		
			<% @user.comments.each do |b| %>
			<tr>
				<td><%= b.book.name%></td>
				<td><%= b.description%></td>
			</tr>
			<%end%>
	</tbody>
</table>
<%if current_user && current_user == @user%>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Books in draft</th>
				<th>Edit</th>
			</tr>
		</thead>
		<tbody>		
				<% @books.each do |b| %>
				<tr>
					<td><%= b.name%></td>
					<td><%= link_to "Edit", edit_book_path(b)%></td>
				</tr>
				<%end%>
		</tbody>
	</table>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Books</th>
				<th>Comments in draft</th>
				<th>Edit</th>
			</tr>
		</thead>
		<tbody>		
				<% @comments.each do |c| %>
				<tr>
					<td><%= c.book.name%></td>
					<td><%= c.description%></td>
					<td><%= link_to "Edit", book_path(c.book, eid: c.id)%></td>
				</tr>
				<%end%>
		</tbody>
	</table>
<%end%>
