<div class="form-group">
	<%= b.label :name%>
	<%= b.text_field :name%>
</div>
<div class="form-group">
	<%= b.file_field :logo%>
	<%if @book.logo.exists?%>
		<%= b.label "Remove photo"%>
		<%= check_box_tag "remove_img", "1"%>
	<%end%>
</div>
<div class="form-group">
	<%= b.label :description%>
	<%= b.text_area :description%>
</div>
<!--  <div class="form-group">
    <%= b.label :onshelf_day, "On shelf" %>
    <%= b.text_field :onshelf_day%>
</div> -->
<div class="form-group">
	<%= b.label :tag_list %>
 	<%= b.select :tag_list , options_for_select(Tag.all.map{ |x| [x.name, x.id] })%>
</div>
<div class="form-group">
	<%= b.select :tag_ids, Tag.all.map{ |x| [x.name, x.id] }, {}, :multiple => true %>
</div>
<div class="form-group">
	<%= b.collection_check_boxes(:group_ids, Group.all, :id, :name)%>
</div>
<div class="form-group submit">
	<%= b.submit "schedule"%>
	<%= b.label :onshelf_day, "On shelf" %>
    <%= b.text_field :onshelf_day%>
</div>

<div class="form-group submit">
	<%= b.submit "draft"%>
	<%= b.submit%>
</div>



<script>
   $("#book_onshelf_day").datepicker({
     format: "yyyy-mm-dd"
   });

   $("#book_tag_list").select2({
     tags: true,
     multiple: true 
     // tags: <%= raw( Tag.all.map{ |x| x.name }.to_json ) %>,
     // theme: "bootstrap",
     // tags: gon.tags,
     // tokenSeparators: [',', ' ']
   });
</script>
	

	

	
	