


<%= form_tag books_path, :method => :get do%>
	<% Group.all.each do |g|%>
		<%= submit_tag g.name%>
	<%end%>
	<%= submit_tag "All"%>
<%end%>

<%= link_to 'Sort by default', books_path(:order => 'id', :commit => params[:commit])%>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Logo</th>
			<th>Book name</th>
			<th>On shelf</th>
			<th>Author</th>
			<th><%= link_to "Comment number", books_path(:order => 'comment_number', :commit => params[:commit])%></th>
			<th>Comments from</th>
			<th><%= link_to "Views", books_path(:order => 'views', :commit => params[:commit])%></th>
			<th><%= link_to "Update time", books_path(:order => 'updated_at', :commit => params[:commit])%></th>
			<th>Tag</th>
			<%if current_user%>
				<th>Subscribe</th>
				<th>Edit</th>
				<th>Delete</th>
			<%end%>
		</tr>
	</thead>
	<tbody>
		<tr>
		<% @books.each do |book|%>
			<%if book.logo.exists?%>
				<td><%= image_tag(book.logo.url(:thumb) )%></td>
			<%else%>
				<td>None</td>
			<%end%>
			<td><%= link_to book.name, book_path(book, page: params[:page])%></td>
			<td><%= book.onshelf_day%></td>
			<td><%= link_to book.user.short_name, user_path(book.user)%></td>
			<td><%= book.comment_number%></td>
			<td>
				<% book.user_uniq.each do |u| %>
				<p><%= u %></p>
				<%end%>
			</td>
			<td><%= book.views%></td>
			<td><%= book.updated_at.strftime("%F %H:%M")%></td>
			<td>
				<% book.tags.each do |t|%>
					<%= link_to t.name, books_path(tag: t.name)%>
				<% end %>
			</td>
			<%if current_user%>
				<%if current_user.subscribed_books.exists?(book.id)%>
					<td><button class="subs"><%= link_to "Unsubscribe",subscribe_book_path(book), method: :post,remote: true%></button></td>
				<%else%>
					<td><button class="subs"><%= link_to "Subscribe", subscribe_book_path(book), method: :post,remote: true%></button></td>
				<%end%>
			<%end%>
			<%if current_user && current_user == book.user || current_user.try(:role) == "admin"%>
				<td><%= link_to "Edit", edit_book_path(book, page: params[:page])%></td>
				<td><button class="delete"><%= link_to "Delete", book_path(book, page: params[:page]), method: :delete, remote: true%></button></td>
			<%end%>
		</tr>
		<%end%>
	</tbody>
</table>
<%if current_user%>
	<%= link_to "New book", new_book_path%>
<%end%>
<br>
<%= paginate @books %>
<br>
