
<%= link_to "About", about_books_path%>

<%= form_tag books_path, :method => :get do%>
	<%= submit_tag "Comedy"%>
	<%= submit_tag "Tragedy"%>
	<%= submit_tag "NObody"%>
	<%= submit_tag "All"%>
<%end%>

<%= link_to 'Sort by default', books_path(:order => 'ids', :commit => params[:commit])%>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Book name</th>
			<th>Author</th>
			<th><%= link_to "Comment number", books_path(:order => 'comments', :commit => params[:commit])%></th>
			<th>Comments from</th>
			<th><%= link_to "Views", books_path(:order => 'views', :commit => params[:commit])%></th>
			<th><%= link_to "Update time", books_path(:order => 'update_time', :commit => params[:commit])%></th>
			<%if current_user%>
				<th>Edit</th>
				<th>Delete</th>
			<%end%>
		</tr>
	</thead>
	<tbody>
		<% @books.each do |book|%>
		<tr>			
			<td><%= link_to book.name, book_path(book, page: params[:page])%></td>
			<td><%= link_to book.user.short_name, user_path(book.user)%></td>
			<td><%= book.comment_number%></td>
			<td>
				<% book.user_uniq.each do |u| %>
				<p><%= u %></p>
				<%end%>
			</td>
			<td><%= book.views%></td>
			<td><%= book.updated_at.strftime("%F %H:%M")%></td>
			<%if current_user && current_user == book.user%>
				<td><%= link_to "Edit", edit_book_path(book, page: params[:page])%></td>
				<td><%= link_to "Delete", book_path(book, page: params[:page]), method: :delete, data: {confirm: "Are you sure?!!"}%></td>
			<%end%>
		</tr>
		<%end%>
	</tbody>
</table>
<%if current_user%>
	<%= link_to "New book", new_book_path%>
<%end%>
<br>
<%= paginate @books %>
<br>
