<!DOCTYPE html>
<html>
  <head>
    <title>Forum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <% if current_user%>
              <h3> <%= link_to current_user.try(:short_name), user_path(current_user)%>, you are admin!!!!</h3>
            <%end%>
        	<p style="color: green"><%= flash[:notice] %></p>
          <p style="color: red"><%= flash[:alert] %></p>
          <%= yield %>
          <%= link_to "Back to bookstore", books_path(page: params[:page])%>
        </div>
      </div>
    </div>
  </body>
</html>
